html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: 0;
}

h4 {
    color: hsl(218, 44%, 22%);
    font-size: 2ch;
    margin: 1rem 0;
}

p {
    color: hsl(216, 15%, 48%);
}

.content {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    width: 18rem;
    height: 30rem;
    padding: 1rem;
    border-radius: 12px;
}

.qr-image {
    border-radius: 10px;
    width: 18rem;
    height: 18rem;
    margin-bottom: 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    flex-shrink: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}